.pln {
  color: #2D3B45 !important;
}
@media screen {
  .str {
    color: #0B874B !important;
  }
  .kwd {
    color: #008;
  }
  .com {
    color: #800;
  }
  .typ {
    color: #606;
  }
  .lit {
    color: #066;
  }
  .clo,
  .opn {
     color: red !important;
  }
  .pun {
    color: #2D3B45 !important;
  }
  .tag {
    color: #0B874B !important;
  }
  .atn {
    color: #0374B5 !important;
  }
  .atv {
    color: #0374B5 !important;
  }
  .dec,
  .var {
    color: #606;
  }
  .fun {
    color: red;
  }
}
@media print, projection {
  .kwd,
  .tag,
  .typ {
    font-weight: 700;
  }
  .str {
    color: red !important;
  }
  .kwd {
    color: red;
  }
  .com {
    color: #600;
    font-style: italic;
  }
  .typ {
    color: #404;
  }
  .lit {
    color: #044;
  }
  .clo,
  .opn,
  .pun {
    color: #2D3B45 !important;
  }
  .tag {
    color: #0B874B !important;
  }
  .atn {
    color: #0374B5 !important;
  }
  .atv {
    color: #0374B5 !important;
  }
}
pre.prettyprint {
  padding: 2px;
  border: 1px solid #888f;
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  list-style-type: decimal !important;
}
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  background: none !important;
}
